body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 15px;
}
/*---------------------------------------------------*/

.custom-dots {
  display: flex;
  position: absolute;
  bottom: 9px;
  left: 10px;
  @media screen and (min-width: 768px) {
    & {
      bottom: 16px;
      left: 17px;
    }
  }

  button {
    width: 32px;
    height: 3px;
    font-size: 0;
    margin-right: 4px;
  }
}

.contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  a {
    color: $textcolor-blue;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 700;
    transition: color .3s linear;

    &:hover {
      color: #110e4b;
    }
  }
  &--box {
    max-width: 365px;
    width: 100%;
    margin: 0 auto;
    font-size: 0.875rem;
    line-height: 1.875rem;
    a {
      color: $white;
    }
  }
}

.units {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  sup {
    font-size: 2rem;
    line-height: 1rem;
    vertical-align: top;
  }
}
