body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}
img {
  max-width: 100%;
  height: auto;
}
/*--------------------*/

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
.header {
  max-width: 1920px;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 3;
  background-image: url("../img/header-fon.jpg");
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 3px 5px 0 rgba(0 ,0 ,0 ,0.5);
  transition: all 0.3s linear;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &.animate {
    height: 50px;
  }
  .header-mobile {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    .icon-green {
      font-size: 2rem;
      color: $textcolor-green;
    }
    @media screen and (max-width: 320px) {
      display: flex;
    }

  }
}


.menu-toggle {
  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: 870px) {
    display: none;
  }
  &__click {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background-color: $white;
    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      background-color: $white;
    }
    &::before {
      top: 8px;
    }
    &::after {
      bottom: 8px;
    }
  }
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1;
  color: $white;
  @media screen and (max-width: 870px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 77px;
      right: 0;
      background-color: #01983b;
      text-align: center;
      &__link {
        width: 100%;
      }
  }
  &__link {
    position: relative;
    text-transform: uppercase;
    padding: 5px 0;

    a {
      color: $white;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: "";
      display: block;
      opacity: 0;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: opacity 0.3s linear;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &:hover::before,
    &:hover::after,
     {
      opacity: 1;
    }

    i {
      color: $white;
      cursor: pointer;
    }

    ul {
      padding: 10px 0;
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      text-align: center;
      background-color: $green;
      opacity: 0;
      transition: opacity .3s linear;
      @media screen and (max-width: 768px) {
        & {
          display: none;
        }
      }
      li {
        text-transform: capitalize;
        padding-bottom: 10px;

        a {
          color: rgba(255, 255, 255, .5);
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    &:hover ul {
      opacity: 1;
    }
  }
}
/*--------------------*/
.slider-block {
  position: relative;
  background-image: url("../img/slider-fon.jpg");
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 75px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 0;

    }
  }

  &__form {
    text-align: right;
    padding: 15px 15px 0 0;

    a {
      color: $green;
      &:hover {
        color: $darkgreen;
      }
    }
  }
  &__logo {
    display: none;
    @media screen and (min-width: 768px){
      display: block;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 470px;
    width: 100% ;
    padding: 10px;
    text-align: center;
    @media screen and (min-width: 768px) {
      padding-left: 100px;
    }
  }

  &__content {
    display: none;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    .icon-green {
      font-size: 1.375rem;
      color: $textcolor-green;
      &:hover {
        color: $darkgreen;
      }
    }
  }

  .search-block {
    display: flex;
    align-items: flex-end;
    a {
      color: $textcolor-blue;
      font-size: 1.5rem;
      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: $textcolor-blue;
    opacity: 0.3;
  }

}

.slider {
  position: relative;

  &__text {
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 78%;
    background-color:rgba(1, 152, 59, .5);
    font-family: "EuropeExt Normal", sans-serif;
    color: $white;
    text-transform: uppercase;
    padding: 1rem 0.4rem 0.4rem;
    @media screen and (min-width: 768px) {
      & {
        padding: 1.875rem 0.625rem 0.625rem;
        bottom: 35px;
      }
    }
  }

  &__title {
    font-size: 0.9em;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 0.5em;
    @media screen and (min-width: 768px) {
      & {
        font-size: 1.875em;
        margin-bottom: 0.936em;
      }
    }

    &--align {
      text-align: center;
    }
  }

  &__subtitle {
    font-size: 0.8rem;
    font-weight: 700;
    @media screen and (min-width: 768px) {
      & {
        font-size: 1.5rem;
      }
    }
  }
}

//form
form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding: 20px 40px;
  background-color: $white;
  border-right: 5px;
  text-align: center;
  margin: 0 auto;

  input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }

  button {
    margin: 0 auto;
    max-width: 160px;
    padding: 10px 20px;
    margin-top: 20px;
  }
}
.block-counter {
  position: relative;
  width: 100%;
  background-color: #2c2783;
  background-image: url('../img/counter-block.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: $white;
  text-transform: uppercase;
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &__inner {
    width: 100%;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      width: 100%;
      flex-wrap: wrap;
      padding: 50px 0;
    }
  }

  &__title {
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    padding-top: 10px;
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
      line-height: 3;
    }
  }

  &__left {
    width: 100%;
    text-align: right;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1;
    padding: 20px;
    @media screen and (min-width: 768px) {
      font-size: 1.875rem;
    }

  }

  &__number {
    font-size: 2.5rem;
    line-height: 1rem;
    @media screen and (min-width: 768px) {
      font-size: 4.5rem;
      line-height: 1.875rem;
      font-weight: 700;
    }
  }

  &__bignumber {
    font-size: 5rem;
    line-height: 2.5rem;
    @media screen and (min-width: 768px) {
      font-size: 10.188rem;
      line-height: 4.25rem;
      font-weight: 700;
    }
  }
  &__big {
    font-size: 2.5rem;
    @media screen and (min-width: 768px) {
      font-size: 5.101rem;
      line-height: 1;
      font-weight: 700;
      padding-top: 20px;
    }
  }

  &__right {
    display: flex;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  &__bottom {
    padding-top: 0;
    @media screen and (min-width: 768px) {
      width: 100%;
      text-align: right;
      padding-top: 80px;
    }
  }
}
//certificates

.certificates {
  padding: 20px 10px;
  text-align: center;
  color: $textcolor-blue;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 197px;
  @media screen and (min-width: 768px) {
    padding: 55px 0;
  }
  &__title {
    font-size: 1.5rem;
    padding: 10px 0;
    @media screen and (min-width: 768px) {
      font-size: 1.875rem;
      line-height: 1.2;
      padding-bottom: 20px;
    }
  }
  &__subtitle {
    font-size: 1rem;
    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      padding-bottom: 5px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-around;
  }
}

// contacts 
.info-contacts {
  position: absolute;
  left: 50%;
  top: -160px;
  transform: translateX(-50%);
  max-width: 1250px;
  width: 100%;
  background-image: url("../img/contacts-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green;
  box-shadow: 0 3px 5px 0 rgba(0 ,0 ,0 ,0.5);
  color: $white;
  text-align: center;
  padding: 33px 5px 28px;
  &__title {
    font-size: 1.875rem;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  &__text {
    font-size: 1.125rem;
    line-height: 1.125;
  }
}
/*map*/
.map {
  position: relative;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 325px;
  background-image: url("../img/footer-fon.jpg");
  &__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    color: $white;
  }
  &__copyright {
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-weight: 700;
  }
  &__icons {
    font-size: 2.06rem;
    color: $white;
    padding: 10px 0;
  }
}
.banner {
  width: 100%;
  max-width: 465px;
  height: 58px;
  background-color: $white;
  margin-bottom: 10px;
}
.banner-text {
  font-size: 0.625rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}
.developer {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
}




//general
.text-green {
  font-size: 1rem;
  line-height: 1;
  color: $green;
  text-transform: uppercase;
}

select {
  border: none;
  appearance: none;
  font-size: 0.75rem;
  color: $textcolor-blue;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  background-image: url("../img/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  option {
    color: $textcolor-blue;
    font-weight: 700;
  }
}


.custom-dots {
  display: flex;
  position: absolute;
  bottom: 9px;
  left: 10px;
  @media screen and (min-width: 768px) {
    & {
      bottom: 16px;
      left: 17px;
    }
  }

  button {
    width: 32px;
    height: 3px;
    font-size: 0;
    margin-right: 4px;
  }
}

.contacts {
  a {
    color: $textcolor-blue;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 700;
    transition: color .3s linear;

    &:hover {
      color: #110e4b;
    }
  }
  &--box {
    max-width: 365px;
    width: 100%;
    margin: 0 auto;
    font-size: 0.875rem;
    line-height: 1.875rem;
    a {
      color: $white;
    }
  }
}

.units {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  sup {
    font-size: 2rem;
    line-height: 1rem;
    vertical-align: top;
  }
}
