
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/*.slider-block*/
.slider-block {
  position: relative;
  background-image: url("../img/slider-fon.jpg");
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 75px;
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 767px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 14px 0 12px;
      align-items: center;

    }
  }
  &__form {
    display: none;
    @media screen and (min-width: 767px) {
      padding: 12px 12px 0 0;
      display: block;
      text-align: right;
    }
    a {
      color: $green;
      &:hover {
        color: $darkgreen;
      }
    }
  }
  &__logo {
    display: none;
    @media screen and (min-width: 767px){
      display: block;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 419px;
    width: 100% ;
    text-align: center;
    padding-top: 9px;
    @media screen and (min-width: 767px) {
    }
  }
  &__content {
    display: none;
    justify-content: space-between;
    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 13px;
    }
    .icon-green {
      font-size: 1.375rem;
      color: $textcolor-green;
      &:hover {
        color: $darkgreen;
      }
    }
  }
  .search-block {
    display: flex;
    align-items: baseline;
    padding-top: 10px;
    @media screen and (min-width: 767px) {
      padding-top: 0;
    }
    a {
      color: $textcolor-blue;
      font-size: 1.813rem;
      padding-top: 3px;
    }
    .line {
      width: 100%;
      height: 2px;
      background-color: $textcolor-blue;
      opacity: 0.3;
    }
  }
}
/*--------------------*/

/*slider*/
.slider {
  position: relative;
  margin-bottom: 80px;
  &__text {
    position: absolute;
    bottom: 58px;
    left: 0;
    width: 79%;
    background-color:rgba(1, 152, 59, .5);
    font-family: "EuropeExt Normal", sans-serif;
    color: $white;
    text-transform: uppercase;
    padding: 1rem 0.4rem 0.4rem;
    @media screen and (min-width: 767px) {
      & {
        padding:3.313rem 0 0.625rem 1.5rem;
      }
    }
  }
  &__title {
    font-size: 0.9em;
    line-height: 1;
    font-weight: 300;
    @media screen and (min-width: 767px) {
      & {
        font-size: 1.875em;
      }
    }
    &--align {
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 0.8rem;
    font-weight: 700;
    @media screen and (min-width: 767px) {
      & {
        font-size: 1.5rem;
      }
    }
  }
}
/*--------------------*/

/*.header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  max-width: 1920px;
  width: 100%;
  padding: 25px 0;
  background: url('../img/pattern.png') $green;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 4;
  transition: padding 0.3s linear;
  &.animate {
    padding: 15px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @media screen and (max-width: 1000px) {
      padding: 0 10px;
    }
  }
  &__icon {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
      flex: 0 0 2rem;
    }
  }
  &__user {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      font-size: 1.5rem;
      a {
        color: $white;
        &:hover {
        opacity: 0.5;
        }
      }
    }
  }

  &__select {
    display: block;
    background-color: transparent;
    color: $white;

    option {
      font-size: 0.5rem;
    }
    @media screen and (min-width: 767px) {
      display: none;
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
      flex: 0 0 30px;
      position: relative;
      width: 30px;
      height: 20px;
      span {
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all .3s linear;
      }
      &::after,
      &::before {
        content: '';
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s linear;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      &.active span {
        transform: scale(0);
      }
    }
  }
  &__social {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      a {
        font-size: 2rem;
        color: $white;
      }
    }
  }
}
/*---------------------*/

/*.menu*/
.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1;
  color: $white;
  @media screen and (max-width: 767px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: #01983b;
      text-align: center;
      transition: all .3s linear;
      &__link {
        width: 100%;
      }
      &.active {
        top: 0;
      }
  }
  &__link {
    position: relative;
    text-transform: uppercase;
    padding: 5px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s linear;
    &.active-link,
    &:hover {
      border-color:  $white;
    }
    a {
      color: $white;
    }
    &:last-child {
      margin-right: 0;
    }
    i {
      color: $white;
      cursor: pointer;
    }
    ul {
      //padding: 10px 0;
      display: block;
      position: absolute;
      top: 100%;
      padding: 10px 30px;
      text-align: left;
      background-color: $green;
      opacity: 0;
      transition: opacity .3s linear;
      @media screen and (max-width: 767px) {
        & {
          display: none;
        }
      }
      li {
        text-transform: capitalize;
        margin-bottom: 10px;
          &:hover {
            color: rgba(255, 255, 255, 1);
            border-bottom: 1px solid $darkgreen;
          }
      }
    }
    &:hover ul {
      opacity: 1;
    }
  }
}
/*--------------------*/

/*form*/
form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding: 25px;
  background-color: $white;
  border-right: 5px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  input {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: $grey;
    outline: none;
  }
  .button-form {
    margin: 0 auto;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: $green;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: $lightgreen;
    }
  }
}
/*--------------------*/

/*.block-counter*/
.block-counter {
  position: relative;
  background: url('../img/pattern.png'), linear-gradient(to bottom, #093163, #051931);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
  color: $white;
  text-transform: uppercase;
  &__logo {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    opacity: .2;
    transform: translateY(-50%);
  }
  img {
    height: 100%;
    object-fit: cover;
  }
  @media screen and (min-width: 767px) {
    padding: 10px 0 40px;
  }

  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  &__inner {
    width: 100%;
    flex-direction: column;
    @media screen and (min-width: 767px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__title {
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    padding-top: 10px;
    @media screen and (min-width: 767px) {
      position: relative;
      z-index: 3;
      font-size: 2.5rem;
      line-height: 3;
    }
  }
  &__box1,
  &__box2 {
    width: 100%;
    @media screen and (min-width: 767px) {
      width: 50%;
    }
  }
  &__box1 {
    text-align: left;
    margin-top: 0;
    @media screen and (min-width: 767px) {
      text-align: center;
      margin-top: -80px;
    }
  }

  &__box2 {
    margin-top: 0;
    text-align: right;
    @media screen and (min-width: 767px) {
      margin-top: -64px;
    }
  }

  &__box3 {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    @media screen and (min-width: 767px) {
      text-align: center;
      margin-top: -138px;
      margin-left: 180px;
    }
  }
  &__img {
    position: relative;
  }
  &__text {
    position: absolute;
    top: 50px;
    left: 0;
  }
  &--left {
    top: 116px;
    left: -18px;
  }
  &--right {
    top: 88px;
    left: 91px;
  }
  &--bottom {
    top: 112px;
    left: 61px;

  }

  //&__left {
  //  width: 100%;
  //  text-align: right;
  //  @media screen and (min-width: 767px) {
  //    width: 50%;
  //  }
  //}
  &__text {
    font-size: 1rem;
    line-height: 1;
    padding: 20px;
    position: absolute;
    @media screen and (min-width: 767px) {
      padding: 0;
      font-size: 1.875rem;
      //top: 116px;
    }
  }
  &__number {
    font-size: 2.5rem;
    line-height: 1rem;
    @media screen and (min-width: 767px) {
      font-size: 4.5rem;
      line-height: 5.313rem;
      font-weight: 700;
      text-align: right;
    }
  }
  &__bignumber {
    font-size: 5rem;
    line-height: 2.5rem;
    @media screen and (min-width: 767px) {
      font-size: 10.188rem;
      line-height: 4.25rem;
      font-weight: 700;
    }
  }
  &__big {
    font-size: 2.5rem;
    @media screen and (min-width: 767px) {
      font-size: 5.101rem;
      line-height: 1;
      font-weight: 700;
      padding-top: 20px;
      text-transform: lowercase;
    }
  }
  &__right {
    display: flex;
    width: 100%;
    @media screen and (min-width: 767px) {
      width: 50%;
      //background-image: url("/img/circle-left.png");
      //background-repeat: no-repeat;
      //background-size: cover;
      //background-position: center center;
    }
  }
  &__bottom {
    padding-top: 0;
    @media screen and (min-width: 767px) {
      width: 50%;
      //background-image: url("/img/circle-left.png");
      //background-repeat: no-repeat;
      //background-size: cover;
      //background-position: center center;
    }
  }
}
/*--------------------*/

/*.certificates*/
.certificates {
  padding: 20px 10px;
  text-align: center;
  color: $textcolor-blue;
  text-transform: uppercase;
  font-weight: 700;
  @media screen and (min-width: 767px) {
    padding: 56px 0;
  }
  &__title {
    font-size: 1.5rem;
    @media screen and (min-width: 767px) {
      font-size: 1.875rem;
      line-height: 1.2;
      padding-bottom: 20px;
    }
  }
  &__subtitle {
    font-size: 1rem;
    @media screen and (min-width: 767px) {
      font-size: 1.5rem;
      padding-top: 31px;
    }
  }
  &__box {
    display: flex;
    justify-content: space-around;
    width: 100%;
  a {
    padding: 0 18px;
  }
  }
}
/*--------------------*/

/*.info-contacts*/
.info-contacts {
  position: relative;
  background-image: url("../img/contacts-fon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;
  top: 20px;
  left: 0;
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;
  color: $white;
  @media screen and (min-width: 767px) {
    left: 15px;
  }
  .info-content {
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    //z-index: 6;
    //text-align: center;
    padding: 34px 0 21px;
    text-align: center;
    &__title {
      font-size: 0.85rem;
      line-height: 1;
      text-transform: uppercase;
      padding-bottom: 5px;
      @media screen and (min-width: 576px) {
        font-size: 1.875rem;
        padding-bottom: 15px;
      }
    }
    &__text {
      font-size: 0.8rem;
      line-height: 1;
      @media screen and (min-width: 576px) {
        font-size: 1.125rem;
        line-height: 1.125;
      }
    }
  }
}
/*--------------------*/

/*.map*/
.map {
  width: 100%;
  height: 330px;
}
/*--------------------*/

/*.footer*/
.footer {
  background-image: url("../img/footer-fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: $white;
  }
  &__copyright {
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-weight: 700;
  }
  &__icons {
    a {
      font-size: 2.06rem;
      color: $white;
      padding: 10px 0;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
/*--------------------*/

.banner {
  width: 100%;
  max-width: 465px;
  height: 58px;
  background-color: $white;
  margin-bottom: 10px;
}
.banner-text {
  font-size: 0.625rem;
  line-height: 1.5  ;
  text-transform: uppercase;
  font-weight: 700;
  @media screen and (min-width: 576px) {
    line-height: 1;
  }
}
.developer {
  a {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
    color: $white;
    &:hover {
      opacity: 0.5;
    }
  }
}

//general
.text-green {
  font-size: 0.75rem;
  line-height: 1;
  color: $green;
  text-transform: uppercase;
  a {
    vertical-align: middle;
  }
}
select {
  display: inline-block;
  background-image: url("../img/arrow-down-white.png");
  background-position: left center;
  background-repeat: no-repeat;
  appearance: none;
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $textcolor-blue;
  cursor: pointer;
  @media screen and (min-width: 767px) {
    background-image: url("../img/arrow-down.png");
  }

}


