
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/*.slider-block*/
.slider-block {
  position: relative;
  background-image: url("../img/slider-fon.jpg");
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 75px;
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 767px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 14px 0 12px;
      align-items: center;

    }
  }
  &__form {
    display: none;
    @media screen and (min-width: 767px) {
      padding: 12px 12px 0 0;
      display: block;
      text-align: right;
    }
    a {
      color: $green;
      &:hover {
        color: $darkgreen;
      }
    }
  }
  &__logo {
    display: none;
    @media screen and (min-width: 767px){
      display: block;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 475px;
    width: 100% ;
    text-align: center;
    padding: 9px 0 0 50px;
    @media screen and (min-width: 767px) {
    }
  }
  &__content {
    display: none;
    justify-content: space-between;
    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: flex-end;
    }
    .icon-green {
      font-size: 1.375rem;
      color: $textcolor-green;
      &:hover {
        color: $darkgreen;
      }
    }
  }
  .search-block {
    display: flex;
    align-items: baseline;
    a {
      color: $textcolor-blue;
      font-size: 1.813rem;
      padding-top: 3px;
      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }
    .line {
      width: 100%;
      height: 2px;
      background-color: $textcolor-blue;
      opacity: 0.3;
    }
  }
}
/*--------------------*/

/*slider*/
.slider {
  position: relative;
  margin-bottom: 80px;
  &__text {
    position: absolute;
    bottom: 37px;
    left: 0;
    width: 79%;
    background-color:rgba(1, 152, 59, .5);
    font-family: "EuropeExt Normal", sans-serif;
    color: $white;
    text-transform: uppercase;
    padding: 1rem 0.4rem 0.4rem;
    @media screen and (min-width: 767px) {
      & {
        padding:3.313rem 0 0.625rem 1.5rem;
      }
    }
  }
  &__title {
    font-size: 0.9em;
    line-height: 1;
    font-weight: 300;
    @media screen and (min-width: 767px) {
      & {
        font-size: 1.875em;
      }
    }
    &--align {
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 0.8rem;
    font-weight: 700;
    @media screen and (min-width: 767px) {
      & {
        font-size: 1.5rem;
      }
    }
  }
}
/*--------------------*/

/*.header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  max-width: 1920px;
  width: 100%;
  padding: 25px 0;
  background-image: url("../img/header-fon.jpg");
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 4;
  background-color: $green;
  transition: all 0.3s linear;
  &.animate {
    padding: 15px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @media screen and (max-width: 1000px) {
      padding: 0 10px;
    }
  }
  &__icon {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
      flex: 0 0 2rem;
    }
  }
  &__user {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      font-size: 1.5rem;
      a {
        color: $white;
        &:hover {
        opacity: 0.5;
        }
      }
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
      flex: 0 0 30px;
      position: relative;
      width: 30px;
      height: 20px;
      span {
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all .3s linear;
      }
      &::after,
      &::before {
        content: '';
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s linear;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      &.active span {
        transform: scale(0);
      }
    }
  }
  &__social {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      a {
        font-size: 2rem;
        color: $white;
      }
    }
  }
}
/*---------------------*/

/*.menu*/
.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1;
  color: $white;
  @media screen and (max-width: 767px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: #01983b;
      text-align: center;
      transition: all .3s linear;
      &__link {
        width: 100%;
      }
      &.active {
        top: 0;
      }
  }
  &__link {
    position: relative;
    text-transform: uppercase;
    padding: 5px 0;
    a {
      color: $white;
    }
    &:last-child {
      margin-right: 0;
    }
    &::before,
    &::after,
    {
      position: absolute;
      left: 0;
      content: "";
      display: block;
      opacity: 0;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: opacity 0.3s linear;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &:hover::before,
    &:hover::after,
     {
      opacity: 1;
    }
    i {
      color: $white;
      cursor: pointer;
    }
    ul {
      padding: 10px 0;
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      text-align: center;
      background-color: $green;
      opacity: 0;
      transition: opacity .3s linear;
      @media screen and (max-width: 767px) {
        & {
          display: none;
        }
      }
      li {
        text-transform: capitalize;
        padding-bottom: 10px;

        a {
          color: rgba(255, 255, 255, .5);
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
    &:hover ul {
      opacity: 1;
    }
  }
}
/*--------------------*/

/*form*/
form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding: 20px 40px;
  background-color: $white;
  border-right: 5px;
  text-align: center;
  margin: 0 auto;
  input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
  button {
    margin: 0 auto;
    max-width: 160px;
    padding: 10px 20px;
    margin-top: 20px;
  }
}
/*--------------------*/

/*.block-counter*/
.block-counter {
  position: relative;
  width: 100%;
  background-color: #093060;
  background-image: url('../img/counter-block.jpg');
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: $white;
  text-transform: uppercase;
  margin-top: 0px;
  @media screen and (min-width: 767px) {
    //margin-top: 83px;
  }
  //.parallax {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  right: 0;
  //}
  &__inner {
    width: 100%;
    flex-direction: column;
    @media screen and (min-width: 767px) {
      display: flex;
      flex-direction: row;
      //max-width: 1000px;
      //width: 100%;
      flex-wrap: wrap;
      //padding: 50px 0;
    }
  }
  &__title {
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    padding-top: 10px;
    @media screen and (min-width: 767px) {
      font-size: 2.5rem;
      line-height: 3;
      padding-top: 25px;
    }
  }
  &__img {
    position: relative;
  }
  &__left {
    width: 100%;
    text-align: right;
    @media screen and (min-width: 767px) {
      width: 50%;
      //background-image: url("/img/circle-left.png");
      //background-repeat: no-repeat;
      //background-size: cover;
      //background-position: center center;

    }
  }
  &__text {
    font-size: 1rem;
    line-height: 1;
    padding: 20px;
    @media screen and (min-width: 767px) {
      font-size: 1.875rem;
    }
  }
  &__number {
    font-size: 2.5rem;
    line-height: 1rem;
    @media screen and (min-width: 767px) {
      font-size: 4.5rem;
      line-height: 1.875rem;
      font-weight: 700;
    }
  }
  &__bignumber {
    font-size: 5rem;
    line-height: 2.5rem;
    @media screen and (min-width: 767px) {
      font-size: 10.188rem;
      line-height: 4.25rem;
      font-weight: 700;
    }
  }
  &__big {
    font-size: 2.5rem;
    @media screen and (min-width: 767px) {
      font-size: 5.101rem;
      line-height: 1;
      font-weight: 700;
      padding-top: 20px;
    }
  }
  &__right {
    display: flex;
    width: 100%;
    @media screen and (min-width: 767px) {
      width: 50%;
      //background-image: url("/img/circle-left.png");
      //background-repeat: no-repeat;
      //background-size: cover;
      //background-position: center center;
    }
  }
  &__bottom {
    padding-top: 0;
    @media screen and (min-width: 767px) {
      width: 50%;
      //background-image: url("/img/circle-left.png");
      //background-repeat: no-repeat;
      //background-size: cover;
      //background-position: center center;
    }
  }
}
/*--------------------*/

/*.certificates*/
.certificates {
  padding: 20px 10px;
  text-align: center;
  color: $textcolor-blue;
  text-transform: uppercase;
  font-weight: 700;
  @media screen and (min-width: 767px) {
    padding: 56px 0;
  }
  &__title {
    font-size: 1.5rem;
    @media screen and (min-width: 767px) {
      font-size: 1.875rem;
      line-height: 1.2;
      padding-bottom: 20px;
    }
  }
  &__subtitle {
    font-size: 1rem;
    @media screen and (min-width: 767px) {
      font-size: 1.5rem;
      padding-top: 10px;
    }
  }
  &__box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 27px 0 35px;

  }
}
/*--------------------*/

/*.info-contacts*/
.info-contacts {
  position: relative;
  z-index: 2;
  top: -7px;
  left: 0;
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;
  color: $white;
  overflow: hidden;
  @media screen and (min-width: 767px) {
    left: 15px;
  }
  .info-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    text-align: center;
    padding: 0 10px;
    &__title {
      font-size: 0.85rem;
      line-height: 1;
      text-transform: uppercase;
      padding-bottom: 5px;
      @media screen and (min-width: 576px) {
        font-size: 1.875rem;
        padding-bottom: 15px;
      }
    }
    &__text {
      font-size: 0.8rem;
      line-height: 1;
      @media screen and (min-width: 576px) {
        font-size: 1.125rem;
        line-height: 1.125;
      }
    }
  }
}
/*--------------------*/

/*.map*/
.map {
  position: relative;
}
/*--------------------*/

/*.footer*/
.footer {
  background-image: url("../img/footer-fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    color: $white;
  }
  &__copyright {
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-weight: 700;
  }
  &__icons {
    a {
      font-size: 2.06rem;
      color: $white;
      padding: 10px 0;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
/*--------------------*/

.banner {
  width: 100%;
  max-width: 465px;
  height: 58px;
  background-color: $white;
  margin-bottom: 10px;
}
.banner-text {
  font-size: 0.625rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}
.developer {
  a {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
    color: $white;
    &:hover {
      opacity: 0.5;
    }
  }
}

//general
.text-green {
  font-size: 0.75rem;
  line-height: 1;
  color: $green;
  text-transform: uppercase;
  padding-top: 9px;
  a {
    vertical-align: middle;
  }
}

select {
  display: none;
  border: none;
  appearance: none;
  font-size: 0.75rem;
  color: $white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
    &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
  option {
    color: $textcolor-blue;
    font-weight: 700;
  }
  @media screen and (min-width: 767px) {
    display: block;
    color: $textcolor-blue;
    background-image: url("../img/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 10px;
  }
}


